<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0
                        //EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookManageSystem.Mapper.BookMapper">
    <select id="queryAllBooks" resultType="com.example.bookManageSystem.Bean.Book">
        SELECT book.*,bookName,author,publisher,price,introduction
        FROM book,isbn
        WHERE book.isbn=isbn.isbn
        order by bookID
    </select>
    <select id="select" resultType="com.example.bookManageSystem.Bean.Book" >
        SELECT book.*,bookName,author,publisher,price,introduction
        FROM book,isbn
        WHERE book.isbn IS NOT NULL and book.isbn = isbn.isbn and book.isbn like concat('%',#{isbn},'%') and
              book.bookID IS NOT NULL and book.bookID like concat('%',#{bookID},'%') and
              isbn.bookName IS NOT NULL and isbn.bookName like concat('%',#{bookName},'%') and
              isbn.author IS NOT NULL and isbn.author like concat('%',#{author},'%') and
              isbn.publisher IS NOT NULL and isbn.publisher like concat('%',#{publisher},'%')
              <if test="largestPrice>0 and largestPrice>=leastPrice">
              and price IS NOT NULL and price>=#{leastPrice} and #{largestPrice}>=price
              </if>
        order by bookID
    </select>
    <select id="queryBookNum" resultType="int">
        SELECT COUNT(bookID) FROM book;
    </select>
    <select id="insertBook">
        INSERT INTO book (bookID, isbn, keepDays, ifLent, finePerDay)
        VALUES(#{bookID},#{isbn},#{keepDays},null,#{finePerDay});
    </select>
    <select id="deleteBook">
        DELETE FROM book WHERE bookID=#{bookID};
    </select>
    <select id="alterBook">
        UPDATE book
        SET keepDays=#{keepDays},finePerDay=#{finePerDay}
        WHERE bookID=#{bookID};
    </select>
    <select id="queryBreachNum"  resultType="int">
        SELECT COUNT(bookID)
        FROM rental
        WHERE (current_date-rental.dueDate>0 and returnDate IS NULL)or (returnDate-rental.dueDate>0)
    </select>
    <select id="queryFinePerDayByBookID" resultType="double">
        SELECT finePerDay
        FROM book
        WHERE bookID=#{bookID};
    </select>
    <select id="queryLendingUserByBookID" resultType="String">
        SELECT bookID
        FROM rental
        WHERE rental.bookID=#{bookID} and returnDate is NULL;
    </select>
    <select id="getCurrentDate" resultType="String">
        SELECT CURRENT_DATE;
    </select>
    <select id="queryLentBooks" resultType="com.example.bookManageSystem.Bean.Book">
        SELECT rental.*,book.finePerDay,book.isbn
        FROM book,rental
        WHERE book.bookID=rental.bookID AND rental.userID=#{userID};
    </select>
    <select id="lendBook">
        UPDATE book
        SET ifLent='1'
        WHERE bookID=#{bookID};
    </select>
    <select id="returnBook">
        UPDATE book
        SET ifLent=null
        WHERE bookID=#{bookID};
    </select>
    <select id="queryBookByBookID" resultType="com.example.bookManageSystem.Bean.Book">
        SELECT *
        FROM book,isbn
        WHERE bookID=#{bookID} and book.isbn=isbn.isbn;
    </select>
</mapper>